{% extends "layout.html" %}

{% block stylesheet %}{% endblock %}
{% block title %}Piltenes wrecks{% endblock %}

{% block content %}
	<div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="{{ url_for('static', filename='video/piltene.mp4') }}" frameborder="0"></iframe>
		</div>

		<a class="text-dark h4 text-decoration-none text-left" href="/">
			Back
		</a>
	</div>
{% endblock %}